
<div id="lang-select">
 <div class = "lang-box">
    <img src="/assets/img/South_Korea.png">
    <label *ngIf="langCode === 'ko'">선택됨</label>
    <button type="button" (click)="setLangCode('ko')"
            [disabled] = "langCode === 'ko'">한국어</button>
 </div>
  <div class = "lang-box">
    <img src="/assets/img/China.png">
    <label *ngIf="langCode === 'ch'">선택됨</label>
    <button type="button" (click)="setLangCode('ch')"
            [disabled] = "langCode === 'ch'">중국어</button>
  </div>
  <div class = "lang-box">
    <img src="/assets/img/France.png">
    <label *ngIf="langCode === 'fr'">선택됨</label>
    <button type="button" (click)="setLangCode('fr')"
            [disabled] = "langCode === 'fr'">프랑스</button>
  </div>
  <div class = "lang-box">
    <img src="/assets/img/Japan.png">
    <label *ngIf="langCode === 'jp'">선택됨</label>
    <button type="button" (click)="setLangCode('jp')"
            [disabled] = "langCode === 'jp'">일본어</button>
  </div>

</div>
